* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;  
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow-y: scroll;
}

section {
    background: url("assets/hero-bg.jpg")  no-repeat center center / cover, linear-gradient(180deg, rgba(0, 0, 0, 0) 31.46%, #000000 100%);
    background-blend-mode: multiply;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 82px;
    padding: 16px 56px;
}

nav {
    display: flex;
    align-items: center;
    margin-bottom: -80px;
    min-height: 82px;
}

.navegacao li{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    color: #fafafa;
    font-size: 1rem;
    padding: 16px 0;
}

.navegacao-li + .navegacao-li {
    margin-left: 28px;
}

.navegacao-li-a {
    text-decoration: none; color: #fafafa;
}

.botao {
    background: linear-gradient(150.53deg, #FFE45C 0%, #FFC900 100%);
    padding: 16px;
    border-radius: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #242424;
    font-size: 14px;
    flex: 0 0 25%;
    max-width: 25%;
    font-weight: 500;
    z-index: 11;
}

.container {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 64px;
    height: 100%;
}

.container-nav {
    height: 100%;
}

.link-desconto {
    display: inline-flex;
    align-items: center;
    margin-top: 88px;
    margin-bottom: 48px;
    color: #fafafa;
    border: 1px solid rgba(250, 250, 250, 0.35);
    border-radius: 24px;
    padding: 8px 16px 8px 8px;
    text-decoration: none;
    background-color: rgba(36, 36, 36, 0.6);
    cursor: pointer;
    font-size: 0.875rem;
}

.texto-botao-desconto{
    display: inline-flex;
    align-items: center;
}

.link-desconto span {
    background-color: #006d8f;
    color: #fafafa;
    font-size: 0.875rem;
    border-radius: 20px;
    height: 24px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.link-desconto div{
    display: flex;
    align-items: center;
} 

.dia-pais {
    margin-left: 8px;
}

.link-desconto:hover {
    border-color: hsla(0, 0%, 98%, 1);
    background-color: hsla(0, 0%, 98%, 0.1);
}

h1 {
    padding: 0;
    line-height: 1.11;
    margin-bottom: 24px;
    font-size: calc(32px + (72 - 32) * ((100vw - 0px) / (1920 - 0)));
    color: #ffffff;
    max-width: 75%
}

h2 {
    padding: 0;
    color: rgb(250, 250, 250);
    font-size: 1.5rem;
    line-height: 1.33;
    font-weight: normal;
    max-width: 83.33333333%;
}

h2 span{
    display: block;
}

.botao-produtos {
    margin-top: 32px;
    max-width: 340px;
    border: 1px solid hsla(0, 0%, 98%, 0.35);
    background-color: hsla(0, 0%, 98%, 0.1);
    display: block;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    min-width: 64px;
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    padding: 12px;
    line-height: 1.75;
    border-radius: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.botao-produtos:hover {
    border-color: hsla(0, 0%, 98%, 1);
    background-color: hsla(0, 0%, 98%, 0.1);
}

.links {
    top: 100%;
    left: -16px;
    width: 300px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    background: #FFF;
    max-height: 0;
    transition: max-height 375ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    z-index: 10;
}

.navegacao-li:hover .links{
    box-shadow: 0 0 0 99999px rgba(0,0,0,.3);
    max-height: 1000px;
    overflow: visible;
}

.links li{
    width: 100%;
    padding: 16px 0;
}

.links li:hover{
    border-radius: 8px;
    background-color: #f5f5f5;
}

.links li a{
    padding: 0px 24px;
    line-height: 1.5;
    color: #242424;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.icon-min{
    display: none;
}

@media (max-width: 1300px) {
}

@media (max-width: 1279px) {
    header{
        padding-left: 24px;
        padding-right: 24px;
    }


    .icon-min{
        display: inline-block;
    }

    .icon-max{
        display: none;
    }

    .container{
        padding-left: 0;
        padding-right: 0;
    }

    .container .conteudo {
        padding-left: 24px;
        padding-right: 24px;
    }

    nav {
        margin-left: 10%;
    }

    h2 span{
        display: inline-block;
    }
    
}

@media (max-width: 1103.95px) {
    
}


@media (max-width: 959.95px) {
    h1 {
        max-width: 100%
    }

    h2{
        max-width: 100%;
        font-size: 1.3rem;
        display: inline-block;
    }

    .link-desconto {
        margin-top: 320px;
        font-size: 12px;
    }

    .link-desconto span{
        font-size: 12px;
    }

    .botao-produtos {
        max-width: 960px;
    }

    .texto-botao-desconto{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: initial;

    }

    .texto-botao-desconto div{
        justify-content: flex-start;
        align-items: baseline;
        width: 100%;
        margin-bottom: 4px;
    }

    .texto-botao-desconto p{
        margin-left: 8px;
    }

    

    nav{
        display: none;
    }

    .container{
        justify-content: flex-end;
    }
    
    svg rect + rect {
        margin-top: 2px;
    }
}

/* @media (min-width:0px) and (max-width:959.95px) {
    
}

@media (min-width:0px) and (max-width:959.95px){
    
}

@media (min-width:0px) and (max-width:959.95px){
    
}

@media (min-width:960px) {
    
}

@media (min-width:0px) and (max-width:959.95px) {
    
}


@media (min-width:0px) and (max-width:959.95px){
    
}

@media (min-width:0px) and (max-width:959.95px){
    
}

@media (min-width:960px) {
    .icon-min {
        display: none;
    }
}

@media (min-width:0px) and (max-width:959.95px) {
    .icon-max{
        display: none;
    }
}

@media (max-width: 960px) {
    
} */